body {
  padding: 40px;
}
.btn {
  padding: 0.7rem;
  font-size: 1rem;
  background-color: rgb(102, 133, 226);
  border-radius: 10px;
  margin-bottom: 10px;
}
.content {
  border: 1px solid rgb(128, 123, 123);
  padding: 0.5rem;
  border-radius: 5px;
}
.content-parent {
  overflow: hidden;
  transition: height ease 1s;
}
